/* Moitié/moitié */

.bandeau {
    background-color: #FDD835;
}

#moitie {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

#partiegauche {
    width: 23%;
    margin-right: 3%;
    height: auto;
}

#partiedroite {
    width: auto;
}

/* En tete */
.prenom {
    color: #FDD835;
   text-transform: uppercase;
   font-family: 'Roboto';
   margin-right: 0.5em;
   font-size: 3em;
}

.nom {
    color: black;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 3em;
}

.metier {
    color: black;
    font-weight: bolder;
    font-size: 2em;
    border-bottom: 2px solid #FDD835;
    width: 12em;
    
}

/* Mise en forme Titre */

h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Roboto';
    text-transform: uppercase;
    color: black;
}

.h3 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Roboto';
    text-transform: uppercase;
    color: #424242;
}

.h4 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Roboto';
    text-transform: uppercase;
    color: #424242;
}

.logocote {
    display: flex;
    flex-wrap: wrap;
}

.logo1 {
    margin-right: 1em;
}

.bordure {
    border-bottom: 2px solid #FDD835;
    border-color: #FDD835;
    margin-bottom: 2em;
}

        /* Titre de gauche */

.titregauche {
    background-color: #424242;
    font-size: 2em;
    color : #FDD835;
    text-align: center;
    font-family: 'Roboto';
}

/* Mise en Forme */

.sectiongauche {
    position : relative;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.infos {
    font-family: 'Roboto';
    color: #424242;
    font-size: 1.2em;
}

.reconom {
    font-family: 'Roboto';
    color: #424242;
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em;
}

.recogras {
    font-family: 'Roboto';
    color: #424242;
    font-size: 1em;
    font-weight: b.2d;
    margin: 0.2em;
}

.reco {
    display: flex;
    width: 50em;
    justify-content: space-around;
}

.recomail {
    font-family: 'Roboto';
    color: #424242;
    font-size: 1em;
    margin: 0.2em;
}

.bio {
    text-align: justify;
    color: #424242;
    height: 45em;
    font-size: 1.2em;
    margin-right: 2em;
    margin-left: 2em;
}

.paragraphe {
    text-align: justify;
    font-size: 1.25em;
    width: 35em;
    font-family: 'Roboto';
    color: #424242;
}

.infodroite {
    display: flex;
    flex-wrap: wrap;
    width: 60em;
    justify-content: space-around;
}

    /*Points*/

.far.fa-dot-circle,.fas.fa-circle {
    font-size: 1em;
    color: #FDD835;
}

.date {
    display : flex;
    flex-direction: column;
    width: 15em;
    font-size: 1em;
    font-family: 'Roboto';
    color: black;

}

.points {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1em;
}

.espace {
    margin-right: 1em;
}

/* Logo */

.logotitre {
    position: relative;
}

.fas.fa-graduation-cap,.fas.fa-pencil-alt,.fas.fa-briefcase {
    font-size: 3em;
    color: #FDD835;   
}

    /* logo gauche */

.fas.fa-music,.fas.fa-basketball-ball,.fas.fa-laptop {
    color : #424242;
    font-size: 2.5em;
    border: 5px solid #424242;
    padding: 0.5em;
    border-radius: 50% ;
}

.conteneurlogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 10em;
}

/* class */

.en_plus {
    font-size: larger;
}

/* photo*/ 

.photo {
    width: 17em;
    height: 17em;
    position : absolute;
    top: 19%    ;
    background: #FDD835;
    border-radius: 60%;
    border: #424242  solid 10px;
}

.fondphoto {
    position: relative;
    display: block;
    justify-content: center;
    height: 25em;
    background-color: #FDD835;
    display: flex;
    z-index: 4;
}

.photo1 {
    display: none;
}





